version: '3.8'

services:
  db:
    image: postgres:13
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
      - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - ./backend/.env.development
    environment:
      - POSTGRES_USER=shivammishra
      - POSTGRES_PASSWORD=dev_password_2025
      - POSTGRES_DB=travelwithghost
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U shivammishra -d travelwithghost"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_dev: